<div>
  <app-table [data]="users()">
    <ng-template #header>
      <tr>
        <th class="py-3 px-4 font-medium">Name</th>
        <th class="py-3 px-4 font-medium">Email</th>
        <th class="py-3 px-4 font-medium">Phone</th>
        <th class="py-3 px-4 font-medium">Company</th>
        <th class="py-3 px-4 font-medium">Location</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td class="py-3 px-4">{{ user.name }}</td>
        <td class="py-3 px-4">{{ user.company.email }}</td>
        <td class="py-3 px-4">{{ user.company.phone }}</td>
        <td class="py-3 px-4">{{ user.company.title }}</td>
        <td class="py-3 px-4">{{ user.company.location.address }}</td>
      </tr>
    </ng-template>
  </app-table>
</div>
